* {
    margin: 10px;
    padding: 17px;
}

body {
    background-image: inherit;
    margin: 0px;
    padding: 0px;
    background-color: cornflowerblue;
    
}

.main ul li {
    margin-top: auto;
    display: inline-block;
    margin-left: 2px;
    font-size: 25px;
    text-align: center;
    color: blue;  
}
.main{
    display: flex;
    font-size: large;
}
.main ul li a {

    display: flex;
    text-decoration: none;
    margin-left: 20px;
    float: right;
}
.navigation {
    font-style: oblique;
    flex-direction: column-reverse;
    padding-bottom: 70px;
    float: left;
}

.flexible{
    color: black;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;    
}
.content{
    font-size: 15px;
}
h2{
    color: aqua;
}
p{
    color:yellowgreen;
}
img{
    border-radius: 130px;
    size: 30px;
}
.hello{
    display: flex;
    float: right;
    font-size: 20px;
}
.menu{
    display: flex;
}

    

